		<!-- <nav class="navbar navbar-expand-sm navbar-dark ftco_navbar bg-light ftco-navbar-light" id="ftco-navbar">
	    <div class="container-fluid" >
	    
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
        <div class="logo">
          <img style="overflow: visible"src="https://cdn.pixabay.com/photo/2020/04/03/06/47/pin-up-girls-4997572_960_720.png" alt="" height=45px width=30px;>
        </div>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav m-auto">
	        	<li class="nav-item"><a href="/" class="nav-link">Home</a></li>
	        	<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Page</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
              	<a class="dropdown-item" href="#">Page 1</a>
                <a class="dropdown-item" href="#">Page 2</a>
                <a class="dropdown-item" href="#">Page 3</a>
                <a class="dropdown-item" href="#">Page 4</a>
              </div>
            </li>
	        	<li class="nav-item"><a href="#" class="nav-link">Work</a></li>
	        	<li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
	          <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav> -->


  {%load static%}

    <!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title></title>
      <link rel="stylesheet" href="{% static 'css/nav.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
          <!-- Navbar-->
    <header class="header">
      <nav class="navbar navbar-expand-lg fixed-top py-3">
          <div class="container"><a href="/" class="navbar-brand text-uppercase font-weight-bold">Vintasia Galleria</a>
            <div class="logo">
              <img style="overflow: visible"src="https://cdn.pixabay.com/photo/2020/04/03/06/47/pin-up-girls-4997572_960_720.png" alt="" height=45px width=30px;>
            </div>
              <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
              
              <div id="navbarSupportedContent" class="collapse navbar-collapse">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item active"><a href="/" class="nav-link text-uppercase font-weight-bold">Home <span class="sr-only">(current)</span></a></li>
                      <li class="nav-item"><a href="/admin" class="nav-link text-uppercase font-weight-bold">Admin</a></li>
                      <li class="nav-item"><a href="/" class="nav-link text-uppercase font-weight-bold">Gallery</a></li>
                      <li class="nav-item"><a href="/" class="nav-link text-uppercase font-weight-bold">Archived</a></li>
                      <li class="nav-item"><a href="/" class="nav-link text-uppercase font-weight-bold">Contact</a></li>
                  </ul>
              </div>
          </div>
      </nav>
    </header>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="{% static 'js/script.js'%}"></script>
    </body>
    </html>
    
    
    
